.header {
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    padding: 8px;
}

#logo {
    max-width: 50px;
    max-height: 50px;
    border-radius: 40%;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
}

.header-right-side {
    display: flex;
    font-size: 18px;
    color: #e5e7eb;
}

.content-1 {
    background-color: #1f2937;
}

.content-1-box {
    display: flex;
    padding: 50px;
    align-items: center;
    justify-content: center;
    gap: 100px;
}

#placeholder {
    display: flex;
    max-width: 500px;
}

.content-2 {
    background-color: white;
}

.information {
    text-align: center;
    padding-bottom: 30px;
    font-size: 25px;
    font-weight: 900;
    color: #1f2937
}

.content-2-box {
    text-align: center;
    padding: 20px;
    padding-bottom: 50px;
}

.poto {
    width: 100px;
    height: 100px;
}

.boxes {
    box-shadow: 5px 10px rgb(30, 30, 43);
    border: blue;
    background-color: rgb(196, 196, 196);
    padding: 20px;
    width: 300px;
    height: 200px;
    border-radius: 40%;
}

.container-boxes {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.quo {
    color: grey;
    font-size: 20px;
    font-style: italic;
    color: #1f2937;
}

.container {
    color: #f9faf8;
    font-size: 30px;
    font-weight: 900;
}

.container p {
    font-size: 18px;
    color: #e5e7eb;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    color: #e5e7eb;
}

.testimonial {
    display: flex;
}

.content-3 {
    background-color: #e5e7eb;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.last-content-box {
    background-color: #3882f6;
    width: 500px;
    height: 75px;
    padding: 30px;
    border-radius: 5%;
    display: flex;
    align-items: center;
}

.last-content {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
}

button {
    display: flex;
    background-color: #3882f6;
    border-color: white;
    display: flex;
}

.last-content-container {
    color: white;
}